@import "../css/fonts.css";
.p-1 {
  padding: 0.25em;
}

.p-2 {
  padding: 0.5em;
}

.p-3 {
  padding: 0.75em;
}

.p-4 {
  padding: 1em;
}

.p-5 {
  padding: 1.25em;
}

.p-6 {
  padding: 1.5em;
}

.p-7 {
  padding: 1.75em;
}

.p-8 {
  padding: 2em;
}

.p-9 {
  padding: 2.25em;
}

.p-10 {
  padding: 2.5em;
}

.pt-1 {
  padding-top: 0.25em;
}

.pt-2 {
  padding-top: 0.5em;
}

.pt-3 {
  padding-top: 0.75em;
}

.pt-4 {
  padding-top: 1em;
}

.pt-5 {
  padding-top: 1.25em;
}

.pt-6 {
  padding-top: 1.5em;
}

.pt-7 {
  padding-top: 1.75em;
}

.pt-8 {
  padding-top: 2em;
}

.pt-9 {
  padding-top: 2.25em;
}

.pt-10 {
  padding-top: 2.5em;
}

.pr-1 {
  padding-right: 0.25em;
}

.pr-2 {
  padding-right: 0.5em;
}

.pr-3 {
  padding-right: 0.75em;
}

.pr-4 {
  padding-right: 1em;
}

.pr-5 {
  padding-right: 1.25em;
}

.pr-6 {
  padding-right: 1.5em;
}

.pr-7 {
  padding-right: 1.75em;
}

.pr-8 {
  padding-right: 2em;
}

.pr-9 {
  padding-right: 2.25em;
}

.pr-10 {
  padding-right: 2.5em;
}

.pl-1 {
  padding: 0.25em;
}

.pl-2 {
  padding: 0.5em;
}

.pl-3 {
  padding: 0.75em;
}

.pl-4 {
  padding: 1em;
}

.pl-5 {
  padding: 1.25em;
}

.pl-6 {
  padding: 1.5em;
}

.pl-7 {
  padding: 1.75em;
}

.pl-8 {
  padding: 2em;
}

.pl-9 {
  padding: 2.25em;
}

.pl-10 {
  padding: 2.5em;
}

.prl-1 {
  padding-right: 0.25em;
  padding-left: 0.25em;
}

.prl-2 {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.prl-3 {
  padding-right: 0.75em;
  padding-left: 0.75em;
}

.prl-4 {
  padding-right: 1em;
  padding-left: 1em;
}

.prl-5 {
  padding-right: 1.25em;
  padding-left: 1.25em;
}

.prl-6 {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.prl-7 {
  padding-right: 1.75em;
  padding-left: 1.75em;
}

.prl-8 {
  padding-right: 2em;
  padding-left: 2em;
}

.prl-9 {
  padding-right: 2.25em;
  padding-left: 2.25em;
}

.prl-10 {
  padding-right: 2.5em;
  padding-left: 2.5em;
}

.m-1 {
  margin: 0.25em;
}

.m-2 {
  margin: 0.5em;
}

.m-3 {
  margin: 0.75em;
}

.m-4 {
  margin: 1em;
}

.m-5 {
  margin: 1.25em;
}

.m-6 {
  margin: 1.5em;
}

.m-7 {
  margin: 1.75em;
}

.m-8 {
  margin: 2em;
}

.m-9 {
  margin: 2.25em;
}

.m-10 {
  margin: 2.5em;
}

.mt-1 {
  margin-top: 0.25em;
}

.mt-2 {
  margin-top: 0.5em;
}

.mt-3 {
  margin-top: 0.75em;
}

.mt-4 {
  margin-top: 1em;
}

.mt-5 {
  margin-top: 1.25em;
}

.mt-6 {
  margin-top: 1.5em;
}

.mt-7 {
  margin-top: 1.75em;
}

.mt-8 {
  margin-top: 2em;
}

.mt-9 {
  margin-top: 2.25em;
}

.mt-10 {
  margin-top: 2.5em;
}

.mr-1 {
  margin-right: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.mr-3 {
  margin-right: 0.75em;
}

.mr-4 {
  margin-right: 1em;
}

.mr-5 {
  margin-right: 1.25em;
}

.mr-6 {
  margin-right: 1.5em;
}

.mr-7 {
  margin-right: 1.75em;
}

.mr-8 {
  margin-right: 2em;
}

.mr-9 {
  margin-right: 2.25em;
}

.mr-10 {
  margin-right: 2.5em;
}

.ml-1 {
  margin-left: 0.25em;
}

.ml-2 {
  margin-left: 0.5em;
}

.ml-3 {
  margin-left: 0.75em;
}

.ml-4 {
  margin-left: 1em;
}

.ml-5 {
  margin-left: 1.25em;
}

.ml-6 {
  margin-left: 1.5em;
}

.ml-7 {
  margin-left: 1.75em;
}

.ml-8 {
  margin-left: 2em;
}

.ml-9 {
  margin-left: 2.25em;
}

.ml-10 {
  margin-left: 2.5em;
}

.mrl-1 {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.mrl-2 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.mrl-3 {
  margin-right: 0.75em;
  margin-left: 0.75em;
}

.mrl-4 {
  margin-right: 1em;
  margin-left: 1em;
}

.mrl-5 {
  margin-right: 1.25em;
  margin-left: 1.25em;
}

.mrl-6 {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.mrl-7 {
  margin-right: 1.75em;
  margin-left: 1.75em;
}

.mrl-8 {
  margin-right: 2em;
  margin-left: 2em;
}

.mrl-9 {
  margin-right: 2.25em;
  margin-left: 2.25em;
}

.mrl-10 {
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-125 {
  width: 125%;
}

.w-150 {
  width: 150%;
}

.w-175 {
  width: 175%;
}

.w-200 {
  width: 200%;
}

.w-225 {
  width: 225%;
}

.w-250 {
  width: 250%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.h-125 {
  height: 125%;
}

.h-150 {
  height: 150%;
}

.h-175 {
  height: 175%;
}

.h-200 {
  height: 200%;
}

.h-225 {
  height: 225%;
}

.h-250 {
  height: 250%;
}

.maxw-25 {
  max-width: 25%;
}

.maxw-50 {
  max-width: 50%;
}

.maxw-75 {
  max-width: 75%;
}

.maxw-100 {
  max-width: 100%;
}

.maxw-125 {
  max-width: 125%;
}

.maxw-150 {
  max-width: 150%;
}

.maxw-175 {
  max-width: 175%;
}

.maxw-200 {
  max-width: 200%;
}

.maxw-225 {
  max-width: 225%;
}

.maxw-250 {
  max-width: 250%;
}

.maxh-25 {
  max-height: 25%;
}

.maxh-50 {
  max-height: 50%;
}

.maxh-75 {
  max-height: 75%;
}

.maxh-100 {
  max-height: 100%;
}

.maxh-125 {
  max-height: 125%;
}

.maxh-150 {
  max-height: 150%;
}

.maxh-175 {
  max-height: 175%;
}

.maxh-200 {
  max-height: 200%;
}

.maxh-225 {
  max-height: 225%;
}

.maxh-250 {
  max-height: 250%;
}

/*Fixed-sizes*/
.sizew-50 {
  width: 50px;
}

.sizew-100 {
  width: 100px;
}

.sizew-150 {
  width: 150px;
}

.sizew-200 {
  width: 200px;
}

.sizew-250 {
  width: 250px;
}

.sizew-300 {
  width: 300px;
}

.sizew-350 {
  width: 350px;
}

.sizew-400 {
  width: 400px;
}

.sizew-450 {
  width: 450px;
}

.sizew-500 {
  width: 500px;
}

.sizew-550 {
  width: 550px;
}

.sizew-600 {
  width: 600px;
}

.sizew-650 {
  width: 650px;
}

.sizew-700 {
  width: 700px;
}

.sizew-750 {
  width: 750px;
}

.sizew-800 {
  width: 800px;
}

.sizew-850 {
  width: 850px;
}

.sizew-900 {
  width: 900px;
}

.sizew-950 {
  width: 950px;
}

.sizew-1000 {
  width: 1000px;
}

.sizew-1050 {
  width: 1050px;
}

.sizew-1100 {
  width: 1100px;
}

.sizew-1150 {
  width: 1150px;
}

.sizew-1200 {
  width: 1200px;
}

.sizew-1250 {
  width: 1250px;
}

.sizew-1300 {
  width: 1300px;
}

.sizew-1350 {
  width: 1350px;
}

.sizeh-50 {
  height: 50px;
}

.sizeh-100 {
  height: 100px;
}

.sizeh-150 {
  height: 150px;
}

.sizeh-200 {
  height: 200px;
}

.sizeh-250 {
  height: 250px;
}

.sizeh-300 {
  height: 300px;
}

.sizeh-350 {
  height: 350px;
}

.sizeh-400 {
  height: 400px;
}

.sizeh-450 {
  height: 450px;
}

.sizeh-500 {
  height: 500px;
}

.sizeh-550 {
  height: 550px;
}

.sizeh-600 {
  height: 600px;
}

.sizeh-650 {
  height: 650px;
}

.sizeh-700 {
  height: 700px;
}

.sizeh-750 {
  height: 750px;
}

.sizeh-800 {
  height: 800px;
}

.sizeh-850 {
  height: 850px;
}

.sizeh-900 {
  height: 900px;
}

.sizeh-950 {
  height: 950px;
}

.sizeh-1000 {
  height: 1000px;
}

.sizeh-1050 {
  height: 1050px;
}

.sizeh-1100 {
  height: 1100px;
}

.sizeh-1150 {
  height: 1150px;
}

.sizeh-1200 {
  height: 1200px;
}

.sizeh-1250 {
  height: 1250px;
}

.col-1 {
  width: 4.16%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-1 {
    width: 4.16%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-1 {
    width: 4.16%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-1 {
    width: 4.16%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-1 {
    width: 4.16%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-1 {
    width: 4.16%;
  }
}
.col-2 {
  width: 8.32%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-2 {
    width: 8.32%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-2 {
    width: 8.32%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-2 {
    width: 8.32%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-2 {
    width: 8.32%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-2 {
    width: 8.32%;
  }
}
.col-3 {
  width: 12.48%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-3 {
    width: 12.48%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-3 {
    width: 12.48%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-3 {
    width: 12.48%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-3 {
    width: 12.48%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-3 {
    width: 12.48%;
  }
}
.col-4 {
  width: 16.64%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-4 {
    width: 16.64%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    width: 16.64%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-4 {
    width: 16.64%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-4 {
    width: 16.64%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-4 {
    width: 16.64%;
  }
}
.col-5 {
  width: 20.8%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-5 {
    width: 20.8%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-5 {
    width: 20.8%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-5 {
    width: 20.8%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-5 {
    width: 20.8%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-5 {
    width: 20.8%;
  }
}
.col-6 {
  width: 24.96%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-6 {
    width: 24.96%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-6 {
    width: 24.96%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-6 {
    width: 24.96%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-6 {
    width: 24.96%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-6 {
    width: 24.96%;
  }
}
.col-7 {
  width: 29.12%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-7 {
    width: 29.12%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-7 {
    width: 29.12%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-7 {
    width: 29.12%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-7 {
    width: 29.12%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-7 {
    width: 29.12%;
  }
}
.col-8 {
  width: 33.28%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-8 {
    width: 33.28%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-8 {
    width: 33.28%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-8 {
    width: 33.28%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-8 {
    width: 33.28%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-8 {
    width: 33.28%;
  }
}
.col-9 {
  width: 37.44%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-9 {
    width: 37.44%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-9 {
    width: 37.44%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-9 {
    width: 37.44%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-9 {
    width: 37.44%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-9 {
    width: 37.44%;
  }
}
.col-10 {
  width: 41.6%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-10 {
    width: 41.6%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-10 {
    width: 41.6%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-10 {
    width: 41.6%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-10 {
    width: 41.6%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-10 {
    width: 41.6%;
  }
}
.col-11 {
  width: 45.76%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-11 {
    width: 45.76%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-11 {
    width: 45.76%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-11 {
    width: 45.76%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-11 {
    width: 45.76%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-11 {
    width: 45.76%;
  }
}
.col-12 {
  width: 49.92%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-12 {
    width: 49.92%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-12 {
    width: 49.92%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-12 {
    width: 49.92%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-12 {
    width: 49.92%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-12 {
    width: 49.92%;
  }
}
.col-13 {
  width: 54.08%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-13 {
    width: 54.08%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-13 {
    width: 54.08%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-13 {
    width: 54.08%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-13 {
    width: 54.08%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-13 {
    width: 54.08%;
  }
}
.col-14 {
  width: 58.24%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-14 {
    width: 58.24%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-14 {
    width: 58.24%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-14 {
    width: 58.24%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-14 {
    width: 58.24%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-14 {
    width: 58.24%;
  }
}
.col-15 {
  width: 62.4%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-15 {
    width: 62.4%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-15 {
    width: 62.4%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-15 {
    width: 62.4%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-15 {
    width: 62.4%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-15 {
    width: 62.4%;
  }
}
.col-16 {
  width: 66.56%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-16 {
    width: 66.56%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-16 {
    width: 66.56%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-16 {
    width: 66.56%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-16 {
    width: 66.56%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-16 {
    width: 66.56%;
  }
}
.col-17 {
  width: 70.72%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-17 {
    width: 70.72%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-17 {
    width: 70.72%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-17 {
    width: 70.72%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-17 {
    width: 70.72%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-17 {
    width: 70.72%;
  }
}
.col-18 {
  width: 74.88%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-18 {
    width: 74.88%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-18 {
    width: 74.88%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-18 {
    width: 74.88%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-18 {
    width: 74.88%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-18 {
    width: 74.88%;
  }
}
.col-19 {
  width: 79.04%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-19 {
    width: 79.04%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-19 {
    width: 79.04%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-19 {
    width: 79.04%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-19 {
    width: 79.04%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-19 {
    width: 79.04%;
  }
}
.col-20 {
  width: 83.2%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-20 {
    width: 83.2%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-20 {
    width: 83.2%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-20 {
    width: 83.2%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-20 {
    width: 83.2%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-20 {
    width: 83.2%;
  }
}
.col-21 {
  width: 87.36%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-21 {
    width: 87.36%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-21 {
    width: 87.36%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-21 {
    width: 87.36%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-21 {
    width: 87.36%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-21 {
    width: 87.36%;
  }
}
.col-22 {
  width: 91.52%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-22 {
    width: 91.52%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-22 {
    width: 91.52%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-22 {
    width: 91.52%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-22 {
    width: 91.52%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-22 {
    width: 91.52%;
  }
}
.col-23 {
  width: 95.68%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-23 {
    width: 95.68%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-23 {
    width: 95.68%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-23 {
    width: 95.68%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-23 {
    width: 95.68%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-23 {
    width: 95.68%;
  }
}
.col-24 {
  width: 99.84%;
}

@media screen and (max-width: 576pxpx) {
  .col-xs-24 {
    width: 99.84%;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-24 {
    width: 99.84%;
  }
}
@media screen and (max-width: 1024px) {
  .col-md-24 {
    width: 99.84%;
  }
}
@media screen and (max-width: 2300px) {
  .col-lg-24 {
    width: 99.84%;
  }
}
@media screen and (max-width: 2300px) {
  .col-xl-24 {
    width: 99.84%;
  }
}
.row-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  overflow-x: hidden;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

.relative-space {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  overflow: hidden;
}
.relative-space .center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.relative-space .top-2 {
  position: absolute;
  top: 0%;
  left: 2%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-2 {
  position: absolute;
  top: 100%;
  left: 2%;
  transform: translate(-50%, -100%);
}
.relative-space .center-2 {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
}
.relative-space .top-4 {
  position: absolute;
  top: 0%;
  left: 4%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-4 {
  position: absolute;
  top: 100%;
  left: 4%;
  transform: translate(-50%, -100%);
}
.relative-space .center-4 {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%);
}
.relative-space .top-6 {
  position: absolute;
  top: 0%;
  left: 6%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-6 {
  position: absolute;
  top: 100%;
  left: 6%;
  transform: translate(-50%, -100%);
}
.relative-space .center-6 {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
}
.relative-space .top-8 {
  position: absolute;
  top: 0%;
  left: 8%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-8 {
  position: absolute;
  top: 100%;
  left: 8%;
  transform: translate(-50%, -100%);
}
.relative-space .center-8 {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
}
.relative-space .top-10 {
  position: absolute;
  top: 0%;
  left: 10%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-10 {
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translate(-50%, -100%);
}
.relative-space .center-10 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.relative-space .top-12 {
  position: absolute;
  top: 0%;
  left: 12%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-12 {
  position: absolute;
  top: 100%;
  left: 12%;
  transform: translate(-50%, -100%);
}
.relative-space .center-12 {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}
.relative-space .top-14 {
  position: absolute;
  top: 0%;
  left: 14%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-14 {
  position: absolute;
  top: 100%;
  left: 14%;
  transform: translate(-50%, -100%);
}
.relative-space .center-14 {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(-50%, -50%);
}
.relative-space .top-16 {
  position: absolute;
  top: 0%;
  left: 16%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-16 {
  position: absolute;
  top: 100%;
  left: 16%;
  transform: translate(-50%, -100%);
}
.relative-space .center-16 {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
}
.relative-space .top-18 {
  position: absolute;
  top: 0%;
  left: 18%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-18 {
  position: absolute;
  top: 100%;
  left: 18%;
  transform: translate(-50%, -100%);
}
.relative-space .center-18 {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
}
.relative-space .top-20 {
  position: absolute;
  top: 0%;
  left: 20%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-20 {
  position: absolute;
  top: 100%;
  left: 20%;
  transform: translate(-50%, -100%);
}
.relative-space .center-20 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.relative-space .top-22 {
  position: absolute;
  top: 0%;
  left: 22%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-22 {
  position: absolute;
  top: 100%;
  left: 22%;
  transform: translate(-50%, -100%);
}
.relative-space .center-22 {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
}
.relative-space .top-24 {
  position: absolute;
  top: 0%;
  left: 24%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-24 {
  position: absolute;
  top: 100%;
  left: 24%;
  transform: translate(-50%, -100%);
}
.relative-space .center-24 {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
}
.relative-space .top-26 {
  position: absolute;
  top: 0%;
  left: 26%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-26 {
  position: absolute;
  top: 100%;
  left: 26%;
  transform: translate(-50%, -100%);
}
.relative-space .center-26 {
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
}
.relative-space .top-28 {
  position: absolute;
  top: 0%;
  left: 28%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-28 {
  position: absolute;
  top: 100%;
  left: 28%;
  transform: translate(-50%, -100%);
}
.relative-space .center-28 {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}
.relative-space .top-30 {
  position: absolute;
  top: 0%;
  left: 30%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-30 {
  position: absolute;
  top: 100%;
  left: 30%;
  transform: translate(-50%, -100%);
}
.relative-space .center-30 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.relative-space .top-32 {
  position: absolute;
  top: 0%;
  left: 32%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-32 {
  position: absolute;
  top: 100%;
  left: 32%;
  transform: translate(-50%, -100%);
}
.relative-space .center-32 {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
}
.relative-space .top-34 {
  position: absolute;
  top: 0%;
  left: 34%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-34 {
  position: absolute;
  top: 100%;
  left: 34%;
  transform: translate(-50%, -100%);
}
.relative-space .center-34 {
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(-50%, -50%);
}
.relative-space .top-36 {
  position: absolute;
  top: 0%;
  left: 36%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-36 {
  position: absolute;
  top: 100%;
  left: 36%;
  transform: translate(-50%, -100%);
}
.relative-space .center-36 {
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
}
.relative-space .top-38 {
  position: absolute;
  top: 0%;
  left: 38%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-38 {
  position: absolute;
  top: 100%;
  left: 38%;
  transform: translate(-50%, -100%);
}
.relative-space .center-38 {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.relative-space .top-40 {
  position: absolute;
  top: 0%;
  left: 40%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-40 {
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -100%);
}
.relative-space .center-40 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.relative-space .top-42 {
  position: absolute;
  top: 0%;
  left: 42%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-42 {
  position: absolute;
  top: 100%;
  left: 42%;
  transform: translate(-50%, -100%);
}
.relative-space .center-42 {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.relative-space .top-44 {
  position: absolute;
  top: 0%;
  left: 44%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-44 {
  position: absolute;
  top: 100%;
  left: 44%;
  transform: translate(-50%, -100%);
}
.relative-space .center-44 {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.relative-space .top-46 {
  position: absolute;
  top: 0%;
  left: 46%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-46 {
  position: absolute;
  top: 100%;
  left: 46%;
  transform: translate(-50%, -100%);
}
.relative-space .center-46 {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.relative-space .top-48 {
  position: absolute;
  top: 0%;
  left: 48%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-48 {
  position: absolute;
  top: 100%;
  left: 48%;
  transform: translate(-50%, -100%);
}
.relative-space .center-48 {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.relative-space .top-50 {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-50 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.relative-space .center-50 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.relative-space .top-52 {
  position: absolute;
  top: 0%;
  left: 52%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-52 {
  position: absolute;
  top: 100%;
  left: 52%;
  transform: translate(-50%, -100%);
}
.relative-space .center-52 {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.relative-space .top-54 {
  position: absolute;
  top: 0%;
  left: 54%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-54 {
  position: absolute;
  top: 100%;
  left: 54%;
  transform: translate(-50%, -100%);
}
.relative-space .center-54 {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}
.relative-space .top-56 {
  position: absolute;
  top: 0%;
  left: 56%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-56 {
  position: absolute;
  top: 100%;
  left: 56%;
  transform: translate(-50%, -100%);
}
.relative-space .center-56 {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}
.relative-space .top-58 {
  position: absolute;
  top: 0%;
  left: 58%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-58 {
  position: absolute;
  top: 100%;
  left: 58%;
  transform: translate(-50%, -100%);
}
.relative-space .center-58 {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
}
.relative-space .top-60 {
  position: absolute;
  top: 0%;
  left: 60%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-60 {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-50%, -100%);
}
.relative-space .center-60 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.relative-space .top-62 {
  position: absolute;
  top: 0%;
  left: 62%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-62 {
  position: absolute;
  top: 100%;
  left: 62%;
  transform: translate(-50%, -100%);
}
.relative-space .center-62 {
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
}
.relative-space .top-64 {
  position: absolute;
  top: 0%;
  left: 64%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-64 {
  position: absolute;
  top: 100%;
  left: 64%;
  transform: translate(-50%, -100%);
}
.relative-space .center-64 {
  position: absolute;
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
}
.relative-space .top-66 {
  position: absolute;
  top: 0%;
  left: 66%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-66 {
  position: absolute;
  top: 100%;
  left: 66%;
  transform: translate(-50%, -100%);
}
.relative-space .center-66 {
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
}
.relative-space .top-68 {
  position: absolute;
  top: 0%;
  left: 68%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-68 {
  position: absolute;
  top: 100%;
  left: 68%;
  transform: translate(-50%, -100%);
}
.relative-space .center-68 {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
}
.relative-space .top-70 {
  position: absolute;
  top: 0%;
  left: 70%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-70 {
  position: absolute;
  top: 100%;
  left: 70%;
  transform: translate(-50%, -100%);
}
.relative-space .center-70 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.relative-space .top-72 {
  position: absolute;
  top: 0%;
  left: 72%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-72 {
  position: absolute;
  top: 100%;
  left: 72%;
  transform: translate(-50%, -100%);
}
.relative-space .center-72 {
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}
.relative-space .top-74 {
  position: absolute;
  top: 0%;
  left: 74%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-74 {
  position: absolute;
  top: 100%;
  left: 74%;
  transform: translate(-50%, -100%);
}
.relative-space .center-74 {
  position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
}
.relative-space .top-76 {
  position: absolute;
  top: 0%;
  left: 76%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-76 {
  position: absolute;
  top: 100%;
  left: 76%;
  transform: translate(-50%, -100%);
}
.relative-space .center-76 {
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%, -50%);
}
.relative-space .top-78 {
  position: absolute;
  top: 0%;
  left: 78%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-78 {
  position: absolute;
  top: 100%;
  left: 78%;
  transform: translate(-50%, -100%);
}
.relative-space .center-78 {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
}
.relative-space .top-80 {
  position: absolute;
  top: 0%;
  left: 80%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-80 {
  position: absolute;
  top: 100%;
  left: 80%;
  transform: translate(-50%, -100%);
}
.relative-space .center-80 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.relative-space .top-82 {
  position: absolute;
  top: 0%;
  left: 82%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-82 {
  position: absolute;
  top: 100%;
  left: 82%;
  transform: translate(-50%, -100%);
}
.relative-space .center-82 {
  position: absolute;
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%);
}
.relative-space .top-84 {
  position: absolute;
  top: 0%;
  left: 84%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-84 {
  position: absolute;
  top: 100%;
  left: 84%;
  transform: translate(-50%, -100%);
}
.relative-space .center-84 {
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
}
.relative-space .top-86 {
  position: absolute;
  top: 0%;
  left: 86%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-86 {
  position: absolute;
  top: 100%;
  left: 86%;
  transform: translate(-50%, -100%);
}
.relative-space .center-86 {
  position: absolute;
  top: 50%;
  left: 86%;
  transform: translate(-50%, -50%);
}
.relative-space .top-88 {
  position: absolute;
  top: 0%;
  left: 88%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-88 {
  position: absolute;
  top: 100%;
  left: 88%;
  transform: translate(-50%, -100%);
}
.relative-space .center-88 {
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
}
.relative-space .top-90 {
  position: absolute;
  top: 0%;
  left: 90%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-90 {
  position: absolute;
  top: 100%;
  left: 90%;
  transform: translate(-50%, -100%);
}
.relative-space .center-90 {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.relative-space .top-92 {
  position: absolute;
  top: 0%;
  left: 92%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-92 {
  position: absolute;
  top: 100%;
  left: 92%;
  transform: translate(-50%, -100%);
}
.relative-space .center-92 {
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
}
.relative-space .top-94 {
  position: absolute;
  top: 0%;
  left: 94%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-94 {
  position: absolute;
  top: 100%;
  left: 94%;
  transform: translate(-50%, -100%);
}
.relative-space .center-94 {
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);
}
.relative-space .top-96 {
  position: absolute;
  top: 0%;
  left: 96%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-96 {
  position: absolute;
  top: 100%;
  left: 96%;
  transform: translate(-50%, -100%);
}
.relative-space .center-96 {
  position: absolute;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
}
.relative-space .top-98 {
  position: absolute;
  top: 0%;
  left: 98%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-98 {
  position: absolute;
  top: 100%;
  left: 98%;
  transform: translate(-50%, -100%);
}
.relative-space .center-98 {
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%, -50%);
}
.relative-space .top-100 {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-100 {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -100%);
}
.relative-space .center-100 {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

/*IMAGES STRECHED*/
.image-size-cover div img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.image-size-cover img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

/*Colors*/
/**/
body {
  font-family: Aller, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.bgc-red {
  background-color: #d3564a;
  color: white;
}

.bgc-yellow {
  background-color: #fdd048;
  color: #383838;
}

.bgc-blue {
  background-color: #519cd8;
  color: white;
}

.bgc-black {
  background-color: #06121d;
  color: white;
}

.bgc-black-transparent {
  background-color: #383838a2;
  color: white;
  border-radius: 10px;
}

.bgc-gray {
  background-color: #99a5a6;
  color: white;
}

.bgc-white {
  background-color: #f1f1f1a6;
  color: #383838;
}

@media screen and (max-width: 576pxpx) and (min-width: 3px) {
  .bgc-xs-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-xs-black {
    background-color: #383838;
    color: white;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .bgc-sm-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-sm-black {
    background-color: #383838;
    color: white;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .bgc-md-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-md-black {
    background-color: #383838;
    color: white;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .bgc-lg-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-lg-black {
    background-color: #383838;
    color: white;
  }
}
.paragraph {
  text-align: justify;
  width: 90%;
  padding: 1em;
  margin: 5% auto;
}

/* COLOR FORMS */
.form {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1a6;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.form div {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: row;
}
.form button {
  background-color: #d3564a;
  margin: auto;
  padding: 10px;
  color: white;
  font-size: 18px;
}
.form button:hover {
  color: #06121d;
  font-size: 18px;
}
.form input {
  width: 80%;
  color: white;
  font-size: 24px;
  height: 40px;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar .item a {
  color: white;
  margin: 10px;
  padding: 7px;
  font-size: 20px;
  text-decoration: none;
}

@media screen and (max-width: 768px) and (min-width: 3px) {
  .navbar {
    display: flex;
    flex-flow: column wrap-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .navbar .container {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .navbar .item {
    margin: 1px;
    padding: 10px;
    border: 2px dotted black;
  }
}
.diagonal-slowmotion {
  animation-name: d-slowmotion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes d-slowmotion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.updown-slowmotion {
  animation-name: upd-slowmotion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes upd-slowmotion {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(40px);
  }
}

.link-full a, .navbar .item a {
  background-image: url(../../images/Back-black.png);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: background-size 0.5s;
  color: white;
  font-size: 1.15em;
}
.link-full a:hover, .navbar .item a:hover {
  background-size: 100% 100%;
  color: white;
}

/*# sourceMappingURL=export.css.map */
