@font-face{
    font-family: 'Tungsten';
    src: url(../fonts/Tungsten.ttf);
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Tungsten';
    src: url(../fonts/Tungsten-Bold.ttf);
    font-size: normal;
    font-weight: bold;
}
@font-face{
    font-family: 'Aller';
    src: url(../fonts/Aller_Rg.ttf);
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Aller';
    src: url(../fonts/Aller_Bd.ttf);
    font-size: normal;
    font-weight: bold;
}
@font-face{
    font-family: 'Aller';
    src: url(../fonts/Aller_BdIt.ttf);
    font-weight: 100;
    font-size: normal;
    font-weight: bold;
    font-style: italic;
}
@font-face{
    font-family: 'Aller';
    src: url(../fonts/Aller_Rg.ttf);
    font-size: normal;
    font-style: italic;
    font-weight: normal;
}

@font-face{
    font-family: 'ClaireHand';
    src: url(../fonts/ClaireHandRegular.otf);
    font-style: normal;
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: 'ClaireHand';
    src: url(../fonts/ClaireHandBold.ttf);
    font-style: normal;
    font-weight: bold;
    font-size: normal;
}